<div class="card bg-base-300 shadow-xl bg-opacity-50 backdrop-blur-xl">
  <figure>
    <img src="/images/bushy-transparent.png" />
  </figure>

  <div class="card-body">
    <div class="card-actions">
      <%= for link <-
                PowAssent.Phoenix.ViewHelpers.provider_links(@conn, class: "btn btn-primary"),
              do: content_tag(:span, link) %>
    </div>
  </div>
</div>
